---
import Layout from "../layouts/Layout.astro";
import HomeScreen from "../components/vue/pages/HomeScreen.vue";
import JobsScreen from "../components/vue/pages/JobsScreen.vue";
import ContactUsScreen from "../components/vue/pages/ContactUsScreen.vue";

import { Content as Profile } from "../components/posts/profile.md";
const getSocial = await Astro.glob("../components/posts/social.md");
const social = getSocial.map((md) => {
  return {
    social: md.frontmatter,
    markdown: md.rawContent(),
  };
})[0];
const getJobs = await Astro.glob("../components/posts/jobs/*.md");
const jobs = getJobs.map((md) => {
  return {
    company: md.frontmatter.title,
    img: "https://seeklogo.com/images/A/abstract-logo-644964A155-seeklogo.com.png",
    markdown: md.rawContent(),
    extra: md,
  };
});
---

<Layout title="Daniel Andrés">
  <main>
    <HomeScreen client:load>
      <Profile />
    </HomeScreen>
    <JobsScreen client:load data={jobs} />
    <ContactUsScreen client:load data={social} />
  </main>
</Layout>
