---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="text-secundary-200">
    <slot />
    <style is:global>
      @font-face {
        font-family: URWGothic;
        src: url("../../public/font/URWGothic-Demi.otf") format("opentype");
      }
      * {
        font-family: URWGothic;
        scrollbar-width: thin;
      }

      /* Chrome, Edge, and Safari */
      *::-webkit-scrollbar {
        width: 0px;
      }
      html {
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
